{% extends "base.html" %}

{% block content %}
    <h1>Docker</h1>

    <h3>What is Docker?</h3>

    <p>Docker is an open source platform using containerization that builds and deploys applications.
    It is used for developing applications, putting the applications in a container,
    and then shipping the container wherever it is needed to run.</p>

    <h3>What are Containers?</h3>

    <p>Containers are units of software that package and contain code for running both
    quickly and reliably on other computers with ease.</p>

    <h3>What are Images?</h3>

    <p>An Image is a template containing instructions for creating a container
    that can be run on the Docker environment. The image provides the specific instructions
    on how to properly run the container provided and the code within.</p>

    <a href="https://hub.docker.com/repository/docker/kellywu2002/sp22p1"><h3>Link to Docker Hub</h3></a>

    <h3>Docker Commands</h3>
    <p>
    docker build : Build an image from a Dockerfile <br>
    docker commit : Create a new image from a container's changes <br>
    docker container : Manage containers <br>
    docker rm : Remove container <br>
    docker ps : Number of current containers <br>
    docker run : Run a command in the new container <br>
    docker push : Push an image or repo to a registry <br>
    docker kill : Kill running containers <br>
    </p>

    <h3>How to Start the Project</h3>

    <p>

    </p>

{% endblock %}