{% extends "base.html" %}

{% block content %}
    <h1>AAA Testing</h1>

    <h3>What is AAA testing?</h3>
    <p>According to <i>developers.mews.com</i>, "The AAA pattern is a pattern for structuring tests. It breaks each test down into three parts – Arrange, Act, and Assert – where each part is a step leading to the next. The arrange step sets up the test’s input values. The act step prompts the primary function being tested. And finally, the assert step verifies that the output of the function is what was expected."</p>
    <br>
    <p>Testing is a crucial part of the development process, as it allows for us to quickly fix issues before they get the opportunity to interfere with our finished product application.
    Testing methods such as AAA testing allow us to clearly structure the ways that we set up these tests. In this project for example, I created separate test files for each new feature that was
    implemented into the site. This way I could quickly make sure that any new features were implemented correctly and that their desired function was working properly. Within the file structure of
    my project directory, there are a set of testing files for each of these new features. When you are ready to test the files, go into the python terminal in the editor and input
    <i>pytest</i> to check the functionality of your simulated examples. Below is an example of one of my functions built for testing the menu links of this very website and the example of me running the pytest!</p>
    <br>
    <br>
    <img src="https://user-images.githubusercontent.com/89932304/160499238-c63dbedf-ee74-4808-811a-a27aec5739fe.png">
    <br>
    <br>
    <img src="https://user-images.githubusercontent.com/89932304/160499521-f5fb5014-c43f-48d0-9ace-0a2d45ce8d44.png">

    <br>
    <br>
    <br>
    <h3>How can we implement this?</h3>
    <p>First we must make separate test methods that are accessible by every other test. We can create a class that is inherited by every other test class. If we create more generic test methods, we
    are able to reuse the same or similar method structure for other test cases. We then want to call the test method inside of a test, and we need to create the functions that we must pass as parameters to the testing method.</p>

    <br>
    <p>The following is a helpful article that I found to explain AAA testing in much more detail</p>
    <a href="https://developers.mews.com/aaa-pattern-a-functional-approach/">Click Me!</a>
{% endblock %}