{% extends "base.html" %}

{% block content %}
    <h1>AAA Testing</h1>

    <h3>What is AAA testing?</h3>
    <p>According to <i>developers.mews.com</i>, "The AAA pattern is a pattern for structuring tests. It breaks each test down into three parts – Arrange, Act, and Assert – where each part is a step leading to the next. The arrange step sets up the test’s input values. The act step prompts the primary function being tested. And finally, the assert step verifies that the output of the function is what was expected."</p>
    <br>
    <p>Testing is a crucial part of the development process, as it allows for us to quickly fix issues before they get the opportunity to interfere with our finished product application.
    Testing methods such as AAA testing allow us to clearly structure the ways that we set up these tests. In this project for example, I created separate test files for each new feature that was
    implemented into the site. This way I could quickly make sure that any new features were implemented correctly and that their desired function was working properly. Within the file structure of
    my project directory, there are a set of testing files for each of these new features. When you are ready to test the files, go into the python terminal in the editor and input
    <i>pytest</i> to check the functionality of your simulated examples. Below is an example of one of my functions built for testing the menu links of this very website and the example of me running the pytest!</p>
    <br>
    <br>
    <div class="container-fluid">
        <img class="img-fluid" src="![image](https://user-images.githubusercontent.com/89932304/160499238-c63dbedf-ee74-4808-811a-a27aec5739fe.png)">
        <img class="img-fluid" src="![image](https://user-images.githubusercontent.com/89932304/160499521-f5fb5014-c43f-48d0-9ace-0a2d45ce8d44.png)">
    </div>
{% endblock %}