{% extends "base.html" %}

{% block content %}
    <h1>Pylint & Others</h1>

    <h3>How our calculator program demonstrates the principles of object oriented programming</h3>

    <p>Throughout the creation of our calculator program, the fundamentals of object oriented programming were implemented.
    The program utilized encapsulation to bundle specific methods together for both testing purposes and for operational purposes. The calculator as a whole is the combination of encapsulated files and methods all working together.
    The separate files used  to build the program structure utilized inheritance, which allowed for us to create classes that were built upon the existing
    classes. We did this in order to maintain the same behaviors within the new classes and to ensure that all the data being passed throughout the program is
    undergoing the same operational structure for correct results.</p>
    <br>
    <p>Within this program, we also were able to incorporate polymorphism, which is the ability of an object to behave in multiple form. In our case, we were able to
    create multiple instances of the calculator class which we could use to perform the different operations as well as test those operations without the need for re-defining a new
    class every time it was needed. This ability for reuse saves an incredible amount of development time and keeps the structure of the code clean with little room for redundancy errors.</p>
    <br>
    <p>The last principle of object oriented programming that was demonstrated in this project is abstraction. This can be explained simply by hiding implementation details and only showing the functionality to the user.
    When we understand what abstraction is, we can see that we are only focused on what the object does instead of how it functions. Here we utilized abstraction within the calculator class itself, where we extended the original class to create these new instances used for testing and carrying out operations.
    When an entity calls a method or another class, it has no insight into the functionality of this tool, just that it will properly execute the desired purpose it was called to do.</p>
    <br>
    <p>The following is an example of the encapsulation and inheritance used within the program, where the operations were used to create the actual calculator class.</p>
    <br>
    <img src="https://user-images.githubusercontent.com/89932304/160506878-0d8183c4-4646-40de-9d82-2d52fa456c5e.png">
    <br>
    <br>
    <p>The following is an example of polymorphism, where the class subtraction is being created so that it may be used in other areas and classes within the program.</p>
    <br>
    <img src="https://user-images.githubusercontent.com/89932304/160507441-969f9358-66a3-43f3-bf47-3f00fd0aa7de.png">

    <br>
    <br>
    <p>The following are articles that I found which are very useful when explaining these topics</p>
    <a href="https://stackify.com/oop-concept-for-beginners-what-is-encapsulation/#:~:text=By%20definition%2C%20encapsulation%20describes%20the,This%20is%20called%20information%20hiding.">Encapsulation</a>
    <a href="https://stackify.com/oop-concept-inheritance/#:~:text=Inheritance%20is%20one%20of%20the,set%20of%20attributes%20and%20methods.">Inheritance</a>
    <a href="https://stackify.com/oop-concept-polymorphism/#:~:text=Polymorphism%20is%20one%20of%20the,types%20through%20the%20same%20interface.">Polymorphism</a>
    <a href="https://stackify.com/oop-concept-abstraction/">Abstraction</a>


{% endblock %}